#maintenance_message{
  background-color: #990000;
  color: white;
  text-align: center;
  font-size: 24px;
}

#user_message{
  position:fixed;
  top: 90px;
  right: 12px;
  z-index: 1;
}

footer{
  bottom: 0px;
  width: 100%;
  padding: 6px;
  background-color: #073a59;
  color: white;
  text-align: center;
}

a {
  color: #204060

}
#mainimage{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
