<%inherit file="base_app.htm" />

<%block name = "form_media"> ${form.media} </%block>

<%block name = "mainbody">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-9">
        <h2>Update account information below</h2>
      </div>
      <div class = "col-md-3">
        <br><br><a href="/manager/users">Back to the Users List &raquo</a>
      </div>
    </div><hr><br><br>
    <div class = "row">
      <div class = "col-md-offset-1 col-md-11">
        <form method="POST">
          <table>
            ${ form }
          </table>
          <br>
          <input type= "submit" class="col-md-offset-1 btn btn-success btn-lg" value="Save Changes"/>
        </form>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-offset-2 col-md-10">
          <br><a href="#">Change User Password &raquo</a>
      </div>
    </div><br><br>
  </div>
</%block>

<%block name = "user_message">
%if message != '':
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Success!</strong> Your changes have been saved.
  </div>
%else:
%endif
</%block>
