<%inherit file="base_app.htm" />

<%block name = "title">About</%block>
<%block name="content_top">
    <div class="content_top">
        <img src = "${STATIC_URL}homepage/media/Images/sheep.jpg" class = "align-center img-responsive"/>
        <div class = "carousel-caption">
          <div class = "wordalign" id = "topcontent">
            <h1>About Us</h1>
          </div>
        </div>
    </div>
</%block>

<%block name = "mainbody">
<div class = "container">
  <div class = "row">
    <h1>Our Team</h1><hr/>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4></br>
    <h1>Our Story</h1><hr/>
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4></br>
  </div>
</div>
</%block>
